body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.indiaButton {
  background-color: peachpuff !important;
  color: green !important;
}

.image {
  width: 30%;
  height: auto;
  margin: 50px;
}

.author {
  display: inline;
  align-items: center;
  text-decoration: underline;
  justify-content: center;
}

.createdBy {
  padding-top: 10px;
  display: flex;
}
